.carta {
    font-family: 'Noto Sans', sans-serif;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    border: 2px solid black;
    width: 700px;
    height: 80px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    margin-top: 3%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: black;
}

.nomCiutat {
    font-size: 30px;
    margin-left: 3%;

}

.dadesCiutat{
    margin-left: auto;
    margin-right: 0;
}

.data {
    font-size: 20px;
    margin-right: 100px;

}

.temp {
    font-size: 20px;
    margin-right: 100px;
}


.pronostic {
    font-size: 20px;
    margin-right: 10px;
} 

#formulari{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    vertical-align: middle;
    display: box;
    margin-top: 3%;
    text-align: center;
}

a{
    text-decoration: none;
}

#selectCiutat, #dataCiutat,#selectPronostic{
    width: 500px;
}

#grausCiutat{
    width: 100px;
}

.btn-success,.btn-danger{
    margin-left: 5%;
    margin-right: 5%;
}

.temperaturaPronostic{
    font-size: 20px;
    margin-right: 50px;}