<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>DAW2</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link th:href="@{/css/estils.css}" rel="stylesheet" />
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Mapa del temps</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="/afegirClimes">Afegir</a>
            </div>
        </div>
    </div>
</nav>

<div id="container">
    <!--@thymesVar id="ciutat" type="edu.fje.daw2.m07.model.Ciutat"-->
    <!--@thymesVar id="ciutats" type="edu.fje.daw2.m07.model.Ciutat"-->

    <a th:each="ciutat: ${ciutats}"  th:href="@{'/pronostics/' + ${ciutat.nom}}">
        <div class="carta" >
            <!--/@thymesVar id="nom" type="String"/-->
            <!--/@thymesVar id="temperatura" type="String"/-->
            <!--/@thymesVar id="estat" type="String"/-->
            <span class="nomCiutat" th:text="${ciutat.nom}"></span><div class="dadesCiutat"><span class="data" th:text="${ciutat.pronostics[0].data}"></span><span class="temp" th:text="${ciutat.pronostics[0].temperatura} +' ªC'"></span><span class="pronostic" th:text="${ciutat.pronostics[0].estat}"></span></div>
        </div>
    </a>
</div>
</body>
</html>