<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel='stylesheet' type='text/css' href='../static/css/estils.css'>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="llistarClimes.html">Mapa del temps</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="afegirClimes.html">Afegir</a>
                </div>
            </div>
        </div>
    </nav>

    <div id="container">
        <div class="carta">
            <span class="nomCiutat">Barcelona</span><div class="dadesCiutat"><span class="data">Avui</span><span class="temp">24 ºC</span><span class="pronostic">Núvol</span></div>
        </div>
        <div class="carta">
            <span class="nomCiutat">Madrid</span><div class="dadesCiutat"><span class="data">Avui</span><span class="temp">24 ºC</span><span class="pronostic">Núvol</span></div>
        </div>
        <div class="carta">
            <span class="nomCiutat">París</span><div class="dadesCiutat"><span class="data">Avui</span><span class="temp">24 ºC</span><span class="pronostic">Núvol</span></div>
        </div>
        <div class="carta">
            <span class="nomCiutat">Múnich</span><div class="dadesCiutat"><span class="data">Avui</span><span class="temp">24 ºC</span><span class="pronostic">Núvol</span></div>
        </div>
    </div>
</body>

</html>